AppDynamicsDemo/workspace/Subscriber/Schemas/FTLMessageSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://tns.tibco.com/bw/ftl/message/1608133490833" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tns.tibco.com/bw/ftl/message/1608133490833">
  <xsd:complexType name="FTLMessageType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="data" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="singularityheader" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
